<div class="row">
  <% if @movies.empty? %>
  <h4>No movies to display</h4>
  <%else%>
  <div class="large-6 columns">
<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Rating</th>
  </tr>
  <% @movies.each do |movie|%>
  <tr>
    <td><%= movie.title %></td>
    <td><%= movie.year %></td>
    <td><%= movie.rating %></td>
  <tr>
    <%end%>
</table>
<%= paginate @movies%>
</div>
<%end%>
<div class="large-6 columns">
  <h5>Import movie</h5>

  <%= form_tag upload_movies_path, multipart: true do %>
  <%= label_tag :file %>
  <%= file_field_tag :file %>

  <%= submit_tag "Upload", class: "button tiny" %>
  <% end %>
</div>
</div>
